{
  "development": {
    "REDIS_URL": "redis://localhost:6379",
    "SMTP_TEST_URL": "https://mailserver.example.com",
    "DATABASE_URL": "mysql://xx:xx@localhost:3306/xxx",
    "APP_URL": "http://localhost:5566",
    "HOST": "127.0.0.1",
    "PORT": "5566",
    "NODE_ENV": "development",
    "APP_KEY": "xxx"
  },
  "test": {
    "REDIS_URL": "redis://localhost:6379",
    "SMTP_TEST_URL": "https://mailserver.example.com",
    "DATABASE_URL": "mysql://root:password@localhost:3306/xxx",
    "APP_URL": "http://localhost:5566",
    "HOST": "127.0.0.1",
    "PORT": "5566",
    "NODE_ENV": "test",
    "APP_KEY": "xxx"
  }
}