# Redis Configuration
REDIS_URL=redis://localhost:5570

# Database Configuration

DATABASE_URL=mysql://root:password@localhost:5567/kibamail

# ACME Configuration
ACME_DIRECTORY_URL=https://localhost:14000/dir

# Application Server Configuration
APP_URL=http://localhost:5566
HOST=127.0.0.1
PORT=5566

# Mail transfer agent Ports
MTA_INJECTOR_PORT=4861
MTA_AUTHENTICATOR_PORT=4251
MTA_LOG_PROCESSOR_PORT=2578
MTA_INJECTOR_URL=http://127.0.0.1:5613

# Mailpit API
MAILPIT_API_URL=http://127.0.0.1:5572

# Environment and Application Keys
NODE_ENV=development
APP_KEY=JfRTsDNGCkr9yVvOa7F7ybongqE29W53

# Haraka SMTP Server Configuration
HARAKA=haraka
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=kibamail
SMTP_PASS=password
SMTP_MAIL_FROM=john@kibamail.com

# Secrets Store Configuration
SECRETS_STORE_URL=http://localhost:5580
SECRETS_STORE_TOKEN=9yVvOa7F7ybongqE29W53

# File Upload Service Configuration
FILE_UPLOADS_ACCESS_KEY=c7p5jgfcze6qxpidordkdkjzw3cjnq
FILE_UPLOADS_ACCESS_SECRET=35jids3f4ze6qxpidordkd7owed7gzk6dgsca
FILE_UPLOADS_ENDPOINT=localhost
FILE_UPLOADS_PORT=5590

# MTA Token for Access
MTA_ACCESS_TOKEN=tSv1rimOykRimRB7XgLtYDctSv1rimOykRimRB7XgLtYDc

# Event Tracking Domain
EVENT_TRACKING_DOMAIN=localhost:5566

# Geolocation Database Configuration
MMDB_DOWNLOAD_URL=https://pub-1eff31eb968248a791f1a6b561e97717.r2.dev/mmdb_cities.tar.gz

# Commerce Provider (Stripe) Configuration
COMMERCE_PROVIDER_STRIPE_SECRET_KEY=sk_test_xxxxxx
COMMERCE_PROVIDER_STRIPE_PUBLIC_KEY=pk_test_xxxxxx

# Commerce Provider (Paystack) Configuration
COMMERCE_PROVIDER_PAYSTACK_SECRET_KEY=sk_test_xxxxxx
COMMERCE_PROVIDER_PAYSTACK_PUBLIC_KEY=pk_test_xxxxxx
