{
  "$schema": "https://json.schemastore.org/swcrc",
  "module": {
    "type": "es6"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "paths": {
     "ipaddr.js": ["./node_modules/ipaddr.js/lib/ipaddr.js"]
    },
    "baseUrl": ".",
    "experimental": {
     "plugins": [["@lingui/swc-plugin", {}]]
    }
  },
  "exclude": [
    ".*\\.d\\.ts$",
    "build",
    "node_modules"
  ]
}