hcloud_token = "your_hetzner_cloud_api_token"
location = "fsn1"
ssh_key_name = "kibamail-staging"
server_type = "cpx21"
image = "ubuntu-24.04"
network_name = "kibamail-staging-network"
subnet_name = "kibamail-staging-network-subnett"
network_ip_range = "172.16.0.0/16"
environment = "staging"

labels = {
  "project"    = "kibamail"
  "environment" = "staging"
}

server_ips = {
  "app-1"        = "172.16.0.3"
  "app-2"        = "172.16.0.2"
  "redis"        = "172.16.0.11"
  "mail-1"       = "172.16.0.10"
  "mail-2"       = "172.16.0.5"
  "mail-proxy"   = "172.16.0.6"
  "mysql-master" = "172.16.0.13"
  "mysql-slave"  = "172.16.0.8"
  "monitoring"   = "172.16.0.4"
}
