@import "@kibamail/owly/styles/tokens.css";

@import "@kibamail/owly/styles/text.css";
@import "@kibamail/owly/styles/button.css";
@import "@kibamail/owly/styles/heading.css";
@import "@kibamail/owly/styles/spinner.css";
@import "@kibamail/owly/styles/progress.css";
@import "@kibamail/owly/styles/text-field.css";

@import "@kibamail/owly/styles/semantic-classes.css";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "RocaTwo";
  src: url("/fonts/roca-two-rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply kb-background-brand-hover;
}

#root {
  @apply h-screen w-full flex flex-col overflow-y-auto kb-background-secondary;
}

.vike-router-transition-in .w-layout-container {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.vike-router-transition-out .w-layout-container {
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.sidebar-draggable-resizer-active {
  cursor: col-resize;
  user-select: none;
}

.sidebar-draggable-resizer-active .draggable-sidebar-resizer {
  background: var(--border-focus);
}
