[defaults]
roles_path = ./roles
collections_path = ./collections
private_key_file = ~/.ssh/kibamail-staging

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = True
