[defaults]
roles_path = ./roles
collections_paths = ./collections
jinja2_extensions = jmespath.functions.Extension

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml

[ssh_connection]
pipelining = True
